.contactsWrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.contactItem:last-child {
  border-bottom: none;
}

.contactItem div:first-child {
  font-weight: bold;
}

.btnDelete {
  background-color: #ff5e5e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btnDelete:hover {
  background-color: #ff3b3b;
}
